<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas en Tiempo Real</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    {% load static %}
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 4.3rem;
        }
        .container {
            max-width: 90%;
        }
        .text-secondary {
            color: #facc15 !important;
        }
        .text-white {
            color:rgb(0, 0, 0) !important;
        }
        .bg-blue {
            background-color:rgb(25, 42, 90);
        }
        .bg-red {
            background-color:rgb(80, 22, 22);
        }
        .bg-yellow {
            background-color: #facc15;
        }
        .bg-gray {
            background-color: #4b5563;
        }
        .bg-gray2 {
            background-color:rgb(41, 46, 51);
        }
        .bg-dark-red {
            background-color: #b91c1c;
        }
        .bg-dark-blue {
            background-color:rgb(28, 51, 185);
        }
        .dark-blue {
            color:rgb(28, 51, 185);
        }
        .dark-red {
            color: #b91c1c;
        }
        .text-shadow {
            text-shadow: 2px 0 15px #fff, -2px 0 20px #fff, 0 2px 20px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
        }
        .opaco {
            opacity: 0.5; /* Reduce la visibilidad */
            transition: opacity 0.3s ease-in-out;
        }
    </style>
</head>
<body>
    <!-- Primer Poomsae -->
    <div id="poomsae1" class="container py-3">
        <div class="d-flex justify-content-between mb-5">
            <div class="mt-8 fs-8">
                <a href="#poomsae2"><img src="{% static 'IMG\Logo_Digitaltkd3.png' %}" alt="logo Digitaltkd" width="25%" ></a>
            </div>
        </div>
        <div class="row">
            <!-- Left Column -->
            <div class="col-3 bg-red p-2">
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">1</div>
                    <span id="red-acc-1" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-1" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">2</div>
                    <span id="red-acc-2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">3</div>
                    <span id="red-acc-3" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-3" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">4</div>
                    <span id="red-acc-4" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-4" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">5</div>
                    <span id="red-acc-5" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-5" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">6</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">7</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
            </div>
            <!-- Center Column -->
            <div class="col-3 d-flex flex-column justify-content-center align-items-center bg-red">
                <span id="total-red-acc" class="fs-7 text-warning">4.0</span>
                <span id="total-red-pre" class="fs-7 text-warning">6.0</span>
                <span id="total-red" class="fs-8 mt-2 text-warning fw-bold border border-warning p-3">10.0</span>
                <span class="fs-2 text-warning">Total Score</span>
                
            </div>
            <div class="col-3 d-flex flex-column justify-content-center align-items-center bg-blue">
                <span id="total-blue-acc" class="fs-7 text-warning">4.0</span>
                <span id="total-blue-pre" class="fs-7 text-warning">6.0</span>
                <span id="total-blue" class="fs-8 mt-2 text-warning fw-bold border border-warning p-3">10.0</span>
                <span class="fs-2 text-warning">Total Score</span>
            </div>
            <!-- Right Column -->
            <div class="col-3 bg-blue p-2">
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-1" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-1" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">1</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">2</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-3" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-3" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">3</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-4" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-4" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">4</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-5" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-5" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">5</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">6</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">7</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div class="fs-8">1er Poomsae</div>
            <div class="fs-8"></div>
        </div>
    </div>
    <br>
    <!-- Segundo Poomsae -->
    <div id="poomsae2" class="container py-3">
        <div class="d-flex justify-content-between mb-5">
            <div class="fs-8">
                <a href="#totalPoomsae"><img src="{% static 'IMG\Logo_Digitaltkd3.png' %}" alt="logo Digitaltkd" width="25%" ></a>
            </div>
        </div>
        <div class="row">
            <!-- Left Column -->
            <div class="col-3 bg-red p-2">
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">1</div>
                    <span id="red-acc-1-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-1-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">2</div>
                    <span id="red-acc-2-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-2-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">3</div>
                    <span id="red-acc-3-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-3-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">4</div>
                    <span id="red-acc-4-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-4-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">5</div>
                    <span id="red-acc-5-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="red-pre-5-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">6</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">7</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
            </div>
            <!-- Center Column -->
            <div class="col-3 d-flex flex-column justify-content-center align-items-center bg-red">
                <span id="total-red-acc-p2" class="fs-7 text-warning">4.0</span>
                <span id="total-red-pre-p2" class="fs-7 text-warning">6.0</span>
                <span id="total-red-p2" class="fs-8 mt-2 text-warning fw-bold border border-warning p-3">10.0</span>
                <span class="fs-2 text-warning">Total Score</span>
            </div>
            <div class="col-3 d-flex flex-column justify-content-center align-items-center bg-blue">
                <span id="total-blue-acc-p2" class="fs-7 text-warning">4.0</span>
                <span id="total-blue-pre-p2" class="fs-7 text-warning">6.0</span>
                <span id="total-blue-p2" class="fs-8 mt-2 text-warning fw-bold border border-warning p-3">10.0</span>
                <span class="fs-2 text-warning">Total Score</span>
            </div>
            <!-- Right Column -->
            <div class="col-3 bg-blue p-2">
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-1-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-1-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">1</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-2-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-2-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">2</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-3-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-3-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">3</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-4-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-4-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">4</div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span id="blue-acc-5-p2" class="col rounded-3 me-1 text-center bg-gray2 fw-bold">4.0</span>
                    <span id="blue-pre-5-p2" class="col rounded-3 me-1 text-center bg-gray fw-bold">6.0</span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">5</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">6</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">7</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div class="fs-8">2do Poomsae</div>
            <div class="fs-8"></div>
        </div>
    </div>
    <br>
    
    <!-- Resultado final -->
    <div id="totalPoomsae" class="container py-3">
        <div class="d-flex justify-content-between mb-5">
            <div class="fs-8">
                <a href="#poomsae1"><img src="{% static 'IMG\Logo_Digitaltkd3.png' %}" alt="logo Digitaltkd" width="25%" ></a>
            </div>
        </div>
        <div class="row">   
            <!-- Left Column -->
            <div class="col-3 bg-red p-2">
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">1</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">2</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">3</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">4</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">5</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">6</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <div class="col rounded-3 me-1 text-center bg-dark-red">7</div>
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                </div>
            </div>
            <!-- Center Column -->
            <div class="col-3 d-flex flex-column justify-content-center align-items-center bg-red">
                <span id="poomsae-red" class="fs-7 text-warning">10.0</span>
                <span id="poomsae-red-p2" class="fs-7 text-warning">10.0</span>
                <span id="promedio-red" class="fs-8 mt-2 text-warning fw-bold border border-warning p-3">10.0</span>
                <span class="fs-2 text-warning">Total Score</span>
                <span id="winner-red" class="fs-8 fw-bold p-3 justify-content-end"></span>
            </div>
            <div class="col-3 d-flex flex-column justify-content-center align-items-center bg-blue">
                <span id="poomsae-blue" class="fs-7 text-warning">10.0</span>
                <span id="poomsae-blue-p2" class="fs-7 text-warning">10.0</span>
                <span id="promedio-blue" class="fs-8 mt-2 text-warning fw-bold border border-warning p-3">10.0</span>
                <span class="fs-2 text-warning">Total Score</span>
                <span id="winner-blue" class="fs-8 fw-bold p-3 aling-items-start"></span>
            </div>
            <!-- Right Column -->
            <div class="col-3 bg-blue p-2">
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">1</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">2</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">3</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">4</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">5</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">6</div>
                </div>
                <div class="d-flex justify-content-between mb-1 opacity-25">
                    <span class="col rounded-3 me-1 text-center bg-gray2 fw-bold"></span>
                    <span class="col rounded-3 me-1 text-center bg-gray fw-bold"></span>
                    <div class="col rounded-3 me-1 text-center bg-dark-blue">7</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div class="fs-8"></div>
            <div class="fs-8"></div>
            <div id="FINAL" class="fs-8">Promedio</div>
            <div class="fs-8"></div>
            <div class="fs-8"></div>
        </div>
    </div>
    <br>
    <br>
    <script>
        // Conectar al WebSocket
        let totalRedAcc = 0;
        let totalRedPre = 0;
        let totalBlueAcc = 0;
        let totalBluePre = 0;
        let totalRed = 0;
        let totalBlue = 0;
        let contador = 0;
        let contadorPromedio = 0;
        var blueTotal = 0;
        var redTotal = 0;
        let red1 = 0;
        let blue1 = 0;
        let red2 = 0;
        let blue2 = 0;
        let subTotalRedAcc = 0;
        let subTotalRedPre = 0;
        let subTotalBlueAcc = 0;
        let subTotalBluePre = 0;

        const socket = new WebSocket("ws://127.0.0.1:8000/ws/evaluaciones/");

        socket.onopen = function(event) {
            console.log("Conexión WebSocket abierta");
        };

        socket.onmessage = function(event) {
            console.log("Mensaje recibido:", event.data);

            try {
                const data = JSON.parse(event.data);
                console.log("Datos parseados:", data);


                if (data.red && data.blue) {
                    const juezIndex = data.juez.replace('juez', '');

                    
                    //Funcion para corregir el error de que se envien las notas mas de una vez
                    function verificarSiEnvioNotas() {
                        if (document.getElementById(`red-acc-${juezIndex}`).textContent === "4.0" && 
                            document.getElementById(`red-pre-${juezIndex}`).textContent === "6.0" && 
                            document.getElementById(`blue-acc-${juezIndex}`).textContent === "4.0" && 
                            document.getElementById(`blue-pre-${juezIndex}`).textContent === "6.0") {
                            console.log(`Juez ${juezIndex} acaba de enviar notas`);
                            
                            document.getElementById(`red-acc-${juezIndex}`).textContent = data.red.acc;
                            document.getElementById(`red-pre-${juezIndex}`).textContent = data.red.pre;
                            document.getElementById(`blue-acc-${juezIndex}`).textContent = data.blue.acc;
                            document.getElementById(`blue-pre-${juezIndex}`).textContent = data.blue.pre;

                            //Buscar la nota mayor y menor en acc y pre para cada competidor y eliminarlas
                            let redAcc = [];
                            for (let i = 1; i <= 5; i++) {
                                redAcc.push(parseFloat(document.getElementById(`red-acc-${i}`).textContent));
                            }
                            let redPre = [];
                            for (let i = 1; i <= 5; i++) {
                                redPre.push(parseFloat(document.getElementById(`red-pre-${i}`).textContent));
                            }
                            let blueAcc = [];
                            for (let i = 1; i <= 5; i++) {
                                blueAcc.push(parseFloat(document.getElementById(`blue-acc-${i}`).textContent));
                            }
                            let bluePre = [];
                            for (let i = 1; i <= 5; i++) {
                                bluePre.push(parseFloat(document.getElementById(`blue-pre-${i}`).textContent));
                            }
                            let redAccMax = Math.max(...redAcc);
                            let redAccMin = Math.min(...redAcc);
                            let redPreMax = Math.max(...redPre);
                            let redPreMin = Math.min(...redPre);
                            let blueAccMax = Math.max(...blueAcc);
                            let blueAccMin = Math.min(...blueAcc);
                            let bluePreMax = Math.max(...bluePre);
                            let bluePreMin = Math.min(...bluePre);
                            
                            // Sumar la nota de red.acc al total
                            subTotalRedAcc += parseFloat(data.red.acc);
                            subTotalRedPre += parseFloat(data.red.pre);
                            //Restar mayores y menores, y luego sacar promedios
                            totalRedAcc = (subTotalRedAcc - redAccMax - redAccMin) / 3;
                            totalRedPre = (subTotalRedPre - redPreMax - redPreMin) / 3;
                            totalRed = totalRedAcc + totalRedPre;

                            // Sumar la nota de red.acc al total
                            subTotalBlueAcc += parseFloat(data.blue.acc);
                            subTotalBluePre += parseFloat(data.blue.pre);
                            //Restar mayores y menores, y luego sacar promedios
                            totalBlueAcc = (subTotalBlueAcc - blueAccMax - blueAccMin) / 3;
                            totalBluePre = (subTotalBluePre - bluePreMax - bluePreMin) / 3;
                            totalBlue = totalBlueAcc + totalBluePre;

                            contador += 1;
                            contadorPromedio += 1;

                            if (contadorPromedio == 5) {
                                console.log('redAccMax', redAccMax);
                                console.log('redAccMin', redAccMin);
                                console.log('redPreMax', redPreMax);
                                console.log('redPreMin', redPreMin);
                                console.log('blueAccMax', blueAccMax);
                                console.log('blueAccMin', blueAccMin);
                                console.log('bluePreMax', bluePreMax);
                                console.log('bluePreMin', bluePreMin);

                                red1 = totalRed
                                blue1 = totalBlue
                            }
                            if (contadorPromedio == 10) {
                                red2 = totalRed
                                blue2 = totalBlue
                                //Promedio total
                                blueTotal = (blue1 + blue2) / 2
                                redTotal = (red1 + red2) / 2
                                document.getElementById(`promedio-blue`).textContent = blueTotal.toFixed(3);
                                document.getElementById(`promedio-red`).textContent = redTotal.toFixed(3);

                                //Alerta de ganador 
                                document.getElementById('FINAL').addEventListener('click', function() {
                                    if (redTotal > blueTotal) {
                                        //esperar 3 segundos
                                        window.setTimeout(function() {
                                            document.getElementById(`winner-red`).classList.add('text-shadow', 'dark-red');
                                            document.getElementById(`winner-blue`).classList.add('text-shadow', 'dark-red');
                                            document.getElementById(`winner-red`).textContent = "RED";
                                            document.getElementById(`winner-blue`).textContent = "WINNER";
                                            console.log("Ganador: RED");
                                        }, 3000);
                                    } else if (redTotal < blueTotal) {
                                        window.setTimeout(function() {
                                            document.getElementById(`winner-red`).classList.add('text-shadow', 'dark-blue');
                                            document.getElementById(`winner-blue`).classList.add('text-shadow', 'dark-blue');
                                            document.getElementById(`winner-red`).textContent = "BLUE";
                                            document.getElementById(`winner-blue`).textContent = "WINNER";
                                            console.log("Ganador: BLUE");
                                        }, 3000);
                                    } 
                                });
                            }

                            console.log(contador);  
                        } else {
                            console.log(`Juez ${juezIndex} ya ha enviado notas`);
                            return
                        }
                    }

                    //Llamar a la funcion para verificar si se envio las notas
                    verificarSiEnvioNotas()

                    document.getElementById(`red-acc-${juezIndex}`).classList.replace('bg-gray2', 'bg-yellow')
                    document.getElementById(`red-pre-${juezIndex}`).classList.replace('bg-gray', 'bg-yellow')
                    document.getElementById(`blue-acc-${juezIndex}`).classList.replace('bg-gray2', 'bg-yellow')
                    document.getElementById(`blue-pre-${juezIndex}`).classList.replace('bg-gray', 'bg-yellow')
                    document.getElementById(`red-acc-${juezIndex}`).classList.add('text-secondary');
                    document.getElementById(`red-pre-${juezIndex}`).classList.add('text-secondary');
                    document.getElementById(`blue-acc-${juezIndex}`).classList.add('text-secondary');
                    document.getElementById(`blue-pre-${juezIndex}`).classList.add('text-secondary');

                    


                    if (contador == 5) {
                        // Mostrar notas de jueces individuales al cambiar color de texto
                        document.querySelectorAll('.text-secondary').forEach(element => {
                            element.classList.replace('text-secondary', 'text-white');
                        });

                        // Mostrar el total rojo
                        document.getElementById(`total-red-acc`).textContent = (Math.round(totalRedAcc * 1000) / 1000).toFixed(3);
                        document.getElementById(`total-red-pre`).textContent = (Math.round(totalRedPre * 1000) / 1000).toFixed(3);
                        document.getElementById(`total-red`).textContent = totalRed.toFixed(3);
                        document.getElementById(`poomsae-red`).textContent = totalRed.toFixed(3);
                        
                        // Mostrar el total azul
                        document.getElementById(`total-blue-acc`).textContent = (Math.round(totalBlueAcc * 1000) / 1000).toFixed(3);
                        document.getElementById(`total-blue-pre`).textContent = (Math.round(totalBluePre * 1000) / 1000).toFixed(3);
                        document.getElementById(`total-blue`).textContent = totalBlue.toFixed(3);
                        document.getElementById(`poomsae-blue`).textContent = totalBlue.toFixed(3);

                        // Crear los arrays de puntuaciones
                        let redAcc = [];
                        let redPre = [];
                        let blueAcc = [];
                        let bluePre = [];

                        // Llenar los arrays con las notas de los jueces
                        for (let i = 1; i <= 5; i++) {
                            redAcc.push(parseFloat(document.getElementById(`red-acc-${i}`).textContent));
                            redPre.push(parseFloat(document.getElementById(`red-pre-${i}`).textContent));
                            blueAcc.push(parseFloat(document.getElementById(`blue-acc-${i}`).textContent));
                            bluePre.push(parseFloat(document.getElementById(`blue-pre-${i}`).textContent));
                        }

                        // Encontrar las notas máximas y mínimas
                        let redAccMax = Math.max(...redAcc);
                        let redAccMin = Math.min(...redAcc);
                        let redPreMax = Math.max(...redPre);
                        let redPreMin = Math.min(...redPre);
                        let blueAccMax = Math.max(...blueAcc);
                        let blueAccMin = Math.min(...blueAcc);
                        let bluePreMax = Math.max(...bluePre);
                        let bluePreMin = Math.min(...bluePre);

                        // Función para aplicar opacidad a las notas mayores y menores
                        function aplicarOpacidad(notasArray, tipo, color) {
                            notasArray.forEach((nota, index) => {
                                let elemento = document.getElementById(`${color}-${tipo}-${index + 1}`);
                                if (nota === Math.max(...notasArray) || nota === Math.min(...notasArray)) {
                                    elemento.classList.add("opaco");
                                } else {
                                    elemento.classList.remove("opaco");
                                }
                            });
                        }

                        // Aplicar la opacidad a los elementos específicos
                        aplicarOpacidad(redAcc, "acc", "red");
                        aplicarOpacidad(redPre, "pre", "red");
                        aplicarOpacidad(blueAcc, "acc", "blue");
                        aplicarOpacidad(bluePre, "pre", "blue");
                        
                        //resetear data para el siguiente poomsae
                        totalRedAcc = 0; totalRedPre = 0; totalBlueAcc = 0; totalBluePre = 0; totalRed = 0; totalBlue = 0; contador = 0; subTotalRedAcc = 0; subTotalRedPre = 0; subTotalBlueAcc = 0; subTotalBluePre = 0; 

                        for (let juezIndex = 1; juezIndex <= 5; juezIndex++) {
                            let idMap = {
                                // Red
                                [`red-acc-${juezIndex}`]: `red-acc-${juezIndex}-p1`,
                                [`red-acc-${juezIndex}-p2`]: `red-acc-${juezIndex}`,
                                [`red-pre-${juezIndex}`]: `red-pre-${juezIndex}-p1`,
                                [`red-pre-${juezIndex}-p2`]: `red-pre-${juezIndex}`,
                                
                                // Blue
                                [`blue-acc-${juezIndex}`]: `blue-acc-${juezIndex}-p1`,
                                [`blue-acc-${juezIndex}-p2`]: `blue-acc-${juezIndex}`,
                                [`blue-pre-${juezIndex}`]: `blue-pre-${juezIndex}-p1`,
                                [`blue-pre-${juezIndex}-p2`]: `blue-pre-${juezIndex}`
                            };

                            Object.keys(idMap).forEach(oldId => {
                                let element = document.getElementById(oldId);
                                if (element) {
                                    element.id = idMap[oldId];
                                }
                            });
                        }

                        // Reemplazos de IDs únicos (iguales para red y blue)
                        let uniqueIdMap = {
                            "total-red-acc": "total-red-acc-p1",
                            "total-red-pre": "total-red-pre-p1",
                            "total-red": "total-red-p1",
                            "total-blue-acc": "total-blue-acc-p1",
                            "total-blue-pre": "total-blue-pre-p1",
                            "total-blue": "total-blue-p1",
                            "total-red-acc-p2": "total-red-acc",
                            "total-red-pre-p2": "total-red-pre",
                            "total-red-p2": "total-red",
                            "total-blue-acc-p2": "total-blue-acc",
                            "total-blue-pre-p2": "total-blue-pre",
                            "total-blue-p2": "total-blue",
                            "poomsae-blue": "poomsae-blue-p1",
                            "poomsae-red": "poomsae-red-p1",
                            "poomsae-blue-p2": "poomsae-blue",
                            "poomsae-red-p2": "poomsae-red",
                        };

                        Object.keys(uniqueIdMap).forEach(oldId => {
                            let element = document.getElementById(oldId);
                            if (element) {
                                element.id = uniqueIdMap[oldId];
                            }
                        });
                    }
                    

                } else {
                    console.error("Datos en formato incorrecto:", data);
                }
            } catch (error) {
                console.error("Error al procesar el mensaje:", error);
            }
        };

        socket.onerror = function(event) {
            console.error("Error en la conexión WebSocket:", event);
        };

        socket.onclose = function(event) {
            console.log("Conexión WebSocket cerrada", event);
        };
    </script>

</body>
</html>